<nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/view'">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/find'">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/new'">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/edit'">Edit</a>
      </li>
    </ul>
</nav>